<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}Ember Test{{/link-to}}
    </div>
    <nav class="navbar-collapse bs-navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li class="active">
          {{#link-to 'users'}}Users{{/link-to}}
        </li>
        <li>
          {{#link-to 'user' 1}}User 1{{/link-to}}
        </li>
        <li>
          {{#link-to 'note'}}
            <s>Note</s>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'easy'}}Easy Form{{/link-to}}
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <div class="row">
    {{outlet}}
  </div>
</div>
