<div class="col-md-12">

    <h2>Ember Easy Form Extension Test</h2>

    <div>
      {{#form-wrapper}}
        {{#form-controls legend='Write a new post'}}
          {{input title}}
          {{input description as='text'}}
        {{/form-controls}}

        {{form-submission}}
      {{/form-wrapper}}
    </div>
    
</div>
