<div class="col-md-12">

  <h2>Users</h2>

  <table class="table table-striped table-bordered table-hover table-responsive">
    <caption>Users</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {{#each model}}
      <tr>
        <td>{{id}}</td>
        <td>{{#link-to 'user' this}}{{username}}{{/link-to}}</td>
        <td>{{email}}</td>
        <td>
          {{#link-to 'user.edit' this}}Edit{{/link-to}}
        </td>
        <td>
          {{#link-to 'users'}}Delete{{/link-to}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

</div>
